.aboutUsspring {
  font-weight: bold;
  margin-top: 5rem;
  font-size: 2rem;
  padding: 1rem;
}

.textspring {
  font-size: 1rem;
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  margin-top: 1.5rem;
}

.image {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}
/* summer */

.aboutUssummer {
  font-weight: bold;
  margin-top: 5rem;
  font-size: 2rem;
  padding: 1rem;
}

.textsummer {
  font-size: 14px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 5px;
  text-align: center;
  background-color: #f7eca1;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  margin-top: 5rem;
}

/* autumn */
.aboutUsautumn {
  font-weight: bold;
  margin-top: 5rem;
  font-size: 2rem;
  padding: 1rem;
}

.textautumn {
  font-size: 14px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 5px;
  text-align: center;
  background-color: #edcdc0;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  margin-top: 5rem;
}

/* winter */
.aboutUswinter {
  font-weight: bold;
  margin-top: 5rem;
  font-size: 2rem;
  padding: 1rem;
}

.textwinter {
  color: #3a5683;
  font-size: 14px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 5px;
  text-align: center;
  background-color: #d2e2ee;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  margin-top: 5rem;
}
