.about-us {
    font-weight: bold;
    margin-top: 100px;
    font-size: 40px;
    color:#22330B;
}


.text {
color: #22330B;
font-size: 14px;
display: flex;
font-weight: bold;
justify-content: center;
padding: 5px;
text-align: center;
background-color: rgba(172, 243, 157, 0.5);
border-radius: 10px;
margin: 1rem;
padding: 1rem;
margin-top: 5rem;
};

