.addBtnspring {
  color: green;
}

.listContainerspring {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #acf39d;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.img {
  border-radius: 5px;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.title {
  font-size: 22px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.recipeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.durationspring,
.servingsspring {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinkspring {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.link {
  text-align: right;
}

.instructions,
.ingredients {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.recipeSteps {
  text-align: left;
  background-color: white;
  list-style: decimal;
  margin: 2rem;
  border-radius: 5px;
  padding: 1rem;
}

.noRecipe {
  margin-top: 10rem;
}

.noRecipespring,
.linkToHomespring {
  display: flex;
  justify-content: center;
  background-color: #acf39d;
  padding: 1.5rem;
}

/* summer */

.addBtnsummer {
  color: green;
}

.listContainersummer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #acf39d;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.durationsummer,
.servingssummer {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinksummer {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.noRecipesummer,
.linkToHomesummer {
  display: flex;
  justify-content: center;
  background-color: #acf39d;
  padding: 1.5rem;
}

/* autumn */
.addBtnautumn {
  color: green;
}

.listContainerautumn {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #acf39d;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.durationautumn,
.servingsautumn {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinkautumn {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.noRecipeautumn,
.linkToHomeautumn {
  display: flex;
  justify-content: center;
  background-color: #acf39d;
  padding: 1.5rem;
}

/* winter */

.addBtnwinter {
  color: #3A5683;
}

.listContainerwinter {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #D2E2EE;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.durationwinter,
.servingswinter {
  background-color: #D2E2EE;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinkwinter {
  background-color: #D2E2EE;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.noRecipewinter,
.linkToHomewinter {
  display: flex;
  justify-content: center;
  background-color: #D2E2EE;
  padding: 1.5rem;
}