.addBtnspring {
  color: green;
}

.listContainerspring {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #acf39d;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.img {
  border-radius: 5px;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.title {
  font-size: 22px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.recipeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.durationspring,
.servingsspring {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinkspring {
  background-color: rgba(172, 243, 157, 0.5);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.link {
  text-align: right;
}

.instructions,
.ingredients {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.recipeSteps {
  text-align: left;
  background-color: white;
  list-style: decimal;
  margin: 2rem;
  border-radius: 5px;
  padding: 1rem;
}

.noRecipespring,
.linkToHomespring {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  background-color: #acf39d;
  padding: 1.5rem;
}

.ldsEllipsisspring {
  margin-top: 25rem;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsEllipsisspring div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #acf39d;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsisspring div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.ldsEllipsisspring div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsisspring div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsisspring div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* summer */

.addBtnsummer {
  color: #e2c350;
}

.listContainersummer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #f7eca1;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.durationsummer,
.servingssummer {
  background-color: #f7eca1;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinksummer {
  background-color: #f7eca1;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.noRecipesummer,
.linkToHomesummer {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  background-color: #f7eca1;
  padding: 1.5rem;
}

.ldsEllipsissummer {
  margin-top: 25rem;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsEllipsissummer div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f05e23;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsissummer div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.ldsEllipsissummer div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsissummer div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsissummer div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

/* autumn */
.addBtnautumn {
  color: #b7410e;
}

.listContainerautumn {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #edcdc0;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.durationautumn,
.servingsautumn {
  background-color: #edcdc0;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinkautumn {
  background-color: #edcdc0;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.noRecipeautumn,
.linkToHomeautumn {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  background-color: #edcdc0;
  padding: 1.5rem;
}

.ldsEllipsisautumn {
  margin-top: 25rem;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsEllipsisautumn div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #b7410e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsisautumn div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.ldsEllipsisautumn div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsisautumn div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsisautumn div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

/* winter */

.addBtnwinter {
  color: #3a5683;
}

.listContainerwinter {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: #d2e2ee;
  margin: 2rem;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
}

.durationwinter,
.servingswinter {
  background-color: #d2e2ee;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.shoppingListLinkwinter {
  background-color: #d2e2ee;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.noRecipewinter,
.linkToHomewinter {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  background-color: #d2e2ee;
  padding: 1.5rem;
}

.ldsEllipsiswinter {
  margin-top: 25rem;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsEllipsiswinter div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3a5683;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsiswinter div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.ldsEllipsiswinter div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsiswinter div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsiswinter div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

/* Favourites Heart button */

.favouriteHeart {
  height: 100px;
  position: relative;
  margin-bottom: -3.5rem;
}

i:before {
  font-family: fontawesome;
  content: "\f004";
  font-style: normal;
}

.heart {
  cursor: pointer;
  padding: 10px 12px 8px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  color: #aaa;
  transition: 0.2s;
}

.liked {
  cursor: pointer;
  padding: 10px 12px 8px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  color: rgb(235, 11, 11);
  transition: 0.2s;
}

span {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: 0.6s;
  z-index: -2;
  font-size: 2px;
  color: transparent;
  font-weight: 400;
}
