.App {
  position: relative;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  font-family: "DM Serif Display", serif;
}

.topMenu {
  display: flex;
  background-color: blueviolet;
}

.logo {
  display: flex;
}
