



.mainContainer{
    margin-top: 2rem;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(175, 250, 250);
}
.container2{
    background-color: rgb(224, 243, 243);
    margin: 0 auto;
    /* width: 45%; */
}
.container3{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 1rem;
    background-color: rgb(100, 153, 87);
text-align: center;
}
