.heading {
  font-weight: bold;
  text-align: left;
  margin-top: 5rem;
}

.input {
  margin: 0.5rem;
}

.addBtn {
  color: green;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: rgba(172, 243, 157, 0.5);
  margin: 1rem;
  list-style: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.ingredient {
  padding: 0.5rem;
}

.deleteBtn {
  color: red;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
