.login {
  width: 100px;
  height: 50 px;
}

.logout {
  width: 100px;
  height: 50 px;
}

.loginPage {
  min-height: 100vh;
}

.logButtons {
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
}
