.img {
  margin-top: 17vh;
  align-content: center;
  height: 250px;
  width: 250px;
}

.welcome {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  text-align: center;
}

.nourish {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.login {
  height: 50 px;
}

.logout {
  height: 50 px;
}

.loginPage {
  min-height: 100vh;
}

.logButtons {
  display: flex;
  gap: 20px 30px;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
